:root {
  /* 主题色 */
  --theme-bg-color: #ff3f34;
  /* 字体颜色 */
  --font-color: #34495e;
  /* video主题色 */
  --plyr-color-main: var(--theme-bg-color);
  /* 顶部导航栏高度 */
  --topNavBarHeight: 49px;
  /* 播放控件高度 */
  --playBarHeight: 60px;
  /* 侧边导航栏宽度 */
  --sideNavBarWidth: 230px;
}

body {
  margin: 0;
  padding: 0;
}

img,
span {
  vertical-align: middle;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 400;
}

ul,
li,
div,
article,
header,
section,
nav,
main,
footer,
aside {
  box-sizing: border-box;
}
