@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "MiSans";
  src: url("../font/MiSans-Regular.ttf");

  font-display: block;
}

:root {
  /* 主题色 */
  --theme-color: #ff3f34;
  /* 字体颜色 */
  --font-color: #34495e;
  /* plyr主题色 */
  --plyr-color-main: var(--theme-color);
  /* 顶部导航栏高度 */
  --topNavBarHeight: 49px;
  /* 播放控件高度 */
  --playBarHeight: 52px;
  /* 侧边导航栏宽度 */
  --sideNavBarWidth: 230px;
}

/* 不被选中 */
.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 容器 */
.wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width: 960px) {
  .wrapper {
    width: 95%;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: "MiSans", sans-serif;
}

img,
span {
  vertical-align: middle;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 400;
}

ul,
li,
div,
article,
header,
section,
nav,
main,
footer,
aside {
  box-sizing: border-box;
}

/* 修改elementui v-loading 样式 */
.el-loading-spinner svg circle {
  stroke: var(--theme-color) !important;
}
.el-loading-spinner .el-loading-text {
  color: var(--theme-color) !important;
}

/* 修改修改elementui el-pagination */
.el-pagination .is-active {
  background-color: var(--theme-color) !important;
  color: #fff !important;
}
.el-pagination.is-background .el-pager li:not(.is-active):hover {
  color: var(--theme-color) !important;
}

/* 修改修改elementui tabs */
.el-tabs .el-tabs__header {
  margin: 0px;
}
.el-tabs .el-tabs__nav .el-tabs__item {
  color: var(--font-color);
}
.el-tabs .el-tabs__nav .el-tabs__item.is-active {
  color: var(--theme-color);
}
.el-tabs .el-tabs__nav .el-tabs__active-bar {
  background-color: var(--theme-color);
}
